<div class="contact-access-container bg-gray-900 rounded-xl p-4 my-4 flex flex-col items-center justify-between">
    <div class="grid grid-cols-12 items-center">
        <div
            class="icon-container animate__animated animate__pulse animate__infinite col-span-12 md:col-span-1 bg-gray-600 mx-auto shadow-md shadow-gray-50 size-20 rounded-full flex items-center justify-center">
            <i class="pi pi-calendar-clock text-gray-50" style="font-size: 28px;"></i>
        </div>
        <div class="caption p-4 col-span-12 md:col-span-11 text-start">
            <span class="text-xl md:text-2xl text-gray-50 font-light">Welcome to G Development, where you can easily
                book
                your appointment . Register online. Fill in
                the form to connect with our team.</span>
        </div>
    </div>
    <div class="button-container self-end">
        <a routerLink="/contact-us" class="btn-main">register interest</a>
    </div>
</div>